<div class="relative">
  <div class="w-screen h-12 bg-slate-800 flex justify-between items-center p-4">
    <p
      class="text-yellow-400 font-extrabold text-2xl cursor-pointer"
      [routerLink]="'/sign-in'"
    >
      L<span class="text-red-400 animate-ping">i</span>ve Cam
    </p>

    <div class="flex justify-between items-center gap-4">
      <span class="text-white font-normal text-sm cursor-pointer" [routerLink]="'/sign-in'">LOGIN</span>
      <span class="text-white font-normal text-sm cursor-pointer" [routerLink]="'/register'">REGISTER</span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
