<div class="h-screen w-screen flex flex-col justify-center items-center gap-5">
  <p class="text-yellow-400 font-extrabold text-8xl">
    L<span class="text-red-400 animate-ping">i</span>ve Cam
  </p>
  <div class="flex gap-5">
    <button
      class="bg-zinc-200 p-4 rounded-lg w-40 font-bold"
      (click)="goToCreateRoom()"
    >
      LIVE CAM
    </button>
    <button
      class="bg-red-400 p-4 rounded-lg w-40 text-white font-bold"
      (click)="goToRoomList()"
    >
      VIEW CAM
    </button>
  </div>
</div>
